<div id="<%= dom_id entry %>">
  <p>
    <strong>Calories:</strong>
    <%= entry.calories %>
  </p>

  <p>
    <strong>Proteins:</strong>
    <%= entry.proteins %>
    <i>g</i>
  </p>

  <p>
    <strong>Carbohydrates:</strong>
    <%= entry.carbohydrates %>
    <i>g</i>
  </p>

  <p>
    <strong>Fats:</strong>
    <%= entry.fats %>
    <i>g</i>
  </p>

</div>
